#shellcheck disable=SC2148,SC2155
export KUBECONFIG="$(expand_path ./kubeconfig)"
export SOPS_AGE_KEY_FILE="$(expand_path ./age.key)"
export TALOSCONFIG="$(expand_path ./talos/clusterconfig/talosconfig)"
export BOOTSTRAP_DIR="$(expand_path ./bootstrap)"
export KUBERNETES_DIR=$(expand_path ./kubernetes)"
export ROOT_DIR=$(expand_path ./)
export SCRIPTS_DIR=$(expand_path ./scripts)"
export TALOS_DIR="$(expand_path ./talos)"

use flake
